body, h3 {
    margin: 0;
    /*font-family: 'Montserrat', sans-serif; */
}

.mono {
    font-family: 'Roboto Mono';
    font-size: small;
}

header, footer {
    background-color: black;
    color: orange;
    padding: 20px;
}

header {
    padding-top: 0;
    padding-bottom: 20px !important;
}

header > h1 {
    margin-top: 0px;
}

footer {
    padding-top: 20px !important;
}

header, footer > p {
    margin-bottom: 0px;
}

header, footer > ul {
    margin-top: 0;
}

header, footer > ul > li > a {
    color:orange
}

#courseSearchBar {
    width: 250px;
}


body > * {
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 0;
    width: calc(100%-200px);
}

body > div {
    min-width: calc(100%-200px);
    max-width: calc(100%-200px);
}

body > select, input {
    padding: 0;
    margin-left: 100px;
}


body > input + label, label+select {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

body > label {
    padding-right: 5px;
    padding-top: 0;
}

header > input {
    margin: 0;
    margin-bottom: 10px;
}


body > *:nth-last-child(2)  {
    padding-bottom: 20px;
}

.paginator {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    text-align: center;
}



#courseTable {
    border-collapse: collapse;
    margin: 0;
    display: grid;
    box-sizing: border-box;
    min-height: 200vh;
}

#courseTable > div {
    border: 1px solid #000;
    padding: 10px;
    width: calc(100vw - 200px);
    box-sizing: inherit;
    margin-bottom: 20px;
}

#courseTable > div > * {
    margin-top: 20px;
}

#courseTable > div > *:first-child {
    margin-top: 0;
}

table {
    border-collapse: collapse;
}

table > td, tbody > * {
    vertical-align: top;
    text-align: left;
}

th, td {
    border: 1px solid #000;
    text-align: left;
    padding: 5px;
}

#transferTable {
    width: fit-content;
    table-layout: fixed;
}

.tablePriority {
    min-width: max-content;
}

.offeredTable {
    width: fit-content;
}



.hidden {
    display: none;
}

p {
    font-size: 18;
    margin: 0;
    padding: 0;
}

.red {
    background-color: rgb(253, 167, 167);
}

.yellow {
    background-color: rgb(241, 241, 162);
}

.green {
    background-color: rgb(126, 198, 126);
}

#transferCheckbox:not(:checked) ~ #courseTable > div > .transferTable {
    display: none;
}

#offeringsCheckbox:not(:checked) ~ #courseTable > div > .offeredTable {
    display: none;
}